main {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans Condensed', sans-serif;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 6fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas: 
    "topBump topBump topBump topBump topBump topBump"
    "leftBump display display display display rightBump"
    "leftBump display display display display rightBump"
    "leftBump clear backspace plusMinus divide rightBump"
    "leftBump seven eight nine mult rightBump"
    "leftBump four five six minus rightBump"
    "leftBump one two three plus rightBump"
    "leftBump zero point equals equals rightBump"
    "bottomBump bottomBump bottomBump bottomBump bottomBump bottomBump"
    ;
}

.btn {
    background-color: #3a3a3a;
    border-style: solid;
    border-width: thin;
    border-color: #3a3a3a;
    border-radius: 5px;
    box-shadow: 1px 2px 5px black;
    width: 75%;
    height: 100%;
    color: white;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    text-justify: center;
    padding: 15%;
    transition-duration: 0.2s;
}

.num {
    background-color: #555555;
}

.btn:hover {
    background-color: #aaaaaa;
}

.btn:active {
    background-color: #7a7a7a;
}

.topBump {
    grid-area: topBump;
    background: white;
    font-size: 9pt;
    padding-left: 1%;
}
.innerTopBump{
    grid-area: innerTopBump;
    background: lightslategray;
}

.leftBump {
    grid-area: leftBump;
    background: white;
}

.innerLeftBump{
    grid-area: innerLeftBump;
    background: lightslategray;
}

.rightBump {
    grid-area: rightBump;
    background: white;
}

.innerTopBump{
    grid-area: innerTopBump;
    background: lightslategray;
}

.device {
    border: thick black;
    text-align: center;
}

.display {
    grid-area: display;
    background: #f1fcd7;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: right;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    justify-items: center;
    align-items: center;
    box-shadow: inset 1px 1px 5px;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.clear {
    grid-area: clear;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}

.backspace {
    grid-area: backspace;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.plusMinus {
    grid-area: plusMinus;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.divide {
    grid-area: divide;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}

.seven {
    grid-area: seven;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}

.eight {
    grid-area: eight;
    background: lightslategray;
}

.nine {
    grid-area: nine;
    background: lightslategray;
}

.mult {
    grid-area: mult;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}

.four {
    grid-area: four;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}

.five {
    grid-area: five;
    background: lightslategray;
}

.six {
    grid-area: six;
    background: lightslategray;
}

.minus {
    grid-area: minus;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}

.one {
    grid-area: one;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
}

.two {
    grid-area: two;
    background: lightslategray;
}

.three {
    grid-area: three;
    background: lightslategray;
}

.plus {
    grid-area: plus;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}

.zero {
    grid-area: zero;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 5px 5px;
}

.point {
    grid-area: point;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
}

.equals {
    grid-area: equals;
    background: lightslategray;
    border-style: solid;
    border-width: 0px 5px 5px 0px;
}

.eq {
    background: #e63946;
    padding: 10pt;
}

.bottomBump {
    grid-area: bottomBump;
    background: white;
    font-size: 6pt;
    text-align: right;
    margin-right: 5%;
    margin-bottom: 1%;
    padding-top: 1%;
}